.heading-h1 {
    flex: auto;
    align-content: center;
}

.table {
    font-size: 1.2em;
    margin-left: 40px;
    margin-right: 40px;
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
    padding: 20px;
}

.uploadJd_btn{
    display: flex;
    justify-content: flex-end;
}

.heading_row{
}