.jd-list-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f4f8;
}

.jd-list-header {
  display: flex;
  text-align: inherit;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 30px;
  background-color: #82cce6;
}

.jd-list-title {
  font-size: 45px;
  display: inline;
  text-align: center;
  font-weight: bold;
  color: #1f1f1f;
  margin: 0;
}

.jd-list-upload-btn {
  display: block;
  background-color: rgba(5, 83, 240, 0.941);
  color: #1f1f1f;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.jd-list-upload-btn:hover {
  background-color: #106ed9;
}

.jd-list-table {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.jd-list-upload-modal {
  background-color: #4b9ff3;
}
