.main-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  table-layout: fixed;
}

.description-container {
  height: 80vh;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  padding: 10px 0px 10px 10px;
}

.pdf-container {
  height: 80vh;
}

.jd-row{
  display: flex;
  justify-content: space-between;
}


.heading {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.key {
  font-weight: bold;
  color: #2d2d2d
}

.line {
  color: #626262;
}

.line2 {
  color: #d3d3d3;
}

.button1{
  size: 400px;
  background-color: #4a4b53;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 20%;

}

.middle-line {
  
  background-color: hsl(34, 98%, 76%);
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
