.MuiTablePagination-displayedRows {
  margin-bottom: 0;
}

.MuiTableCell-head {
  background-color: #d3d3d3 !important;
  color: black !important;
  font-weight: bold;
}

.MTableHeader-header-83 .MuiTableCell-paddingCheckbox {
  padding: 8px;
}