.MuiTableCell-head {
    background-color: #333333 !important; /* Set header background color */
    color: white!important; /* Set header text color */
}

.MuiTableRow-root:nth-of-type(even) {
    background-color: #333333 !important; /* Set even row background color */
    color: white;
}


.text1{
    font-size: 15px;
}
.orange {
    color: orange;
  }