.MuiTableCell-head {
    background-color: #333333 !important; /* Set header background color */
    color: white!important; /* Set header text color */
}

.MuiTableRow-root:nth-of-type(even) {
    background-color: #333333 !important; /* Set even row background color */
    color: white;
}


.text1{
    font-size: 15px;
}
.orange {
    color: orange;
  }
  /* styles for screens smaller than 600px wide */
@media screen and (max-width: 600px) {
    .MuiTableCell-head {
    background-color: #333333 !important;
    color: white !important;
    }
    .MuiTableRow-root:nth-of-type(even) {
    background-color: #333333 !important;
    color: white;
    }
    .text1 {
    font-size: 12px;
    }
    .orange {
    color: orange;
    }
    }
    
    /* styles for screens between 600px and 960px wide */
    @media screen and (min-width: 600px) and (max-width: 960px) {
    .MuiTableCell-head {
    background-color: #333333 !important;
    color: white !important;
    }
    .MuiTableRow-root:nth-of-type(even) {
    background-color: #333333 !important;
    color: white;
    }
    .text1 {
    font-size: 18px;
    }
    .orange {
    color: orange;
    }
    }
    
    /* styles for screens larger than 960px wide */
    @media screen and (min-width: 960px) {
    .MuiTableCell-head {
    background-color: #333333 !important;
    color: white !important;
    }
    .MuiTableRow-root:nth-of-type(even) {
    background-color: #333333 !important;
    color: white;
    }
    .text1 {
    font-size: 24px;
    }
    .orange {
    color: orange;
    }
    }