.dashboard-container{
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  height:100vh
  
}

.cont{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.row-1{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.row-2 {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  height: auto;
  margin: 0 auto;
}

/* Histogram box */
.histogram-box {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
  border-radius: 5px;
  margin: 20px auto; /* center the box horizontally */

}

/* Pie chart box */
.pie-chart-box {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
  border-radius: 5px;
  margin: 20px auto; /* center the box horizontally */
}


.box-jd {
  /* orange */
  background-color: 	#f7e1d3;
 color: black;
 text-align: left;
 padding: 20px;
 width: calc(33.33% - 60px);
 height: 170px;
 box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
 margin: 10px;
 border-radius: 5px;
}
.box-cv {
 /* orange */
 background-color: 	  #e5f9cd    ;
color: black;
text-align: left;
padding: 20px;
width: calc(33.33% - 60px);
height: 170px;
box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
margin: 10px;
border-radius: 5px;
}
.box-count {
 background-color: 	#dfecf8;
 color: black;
 text-align: center;
 padding: 30px;
 width: calc(33.33% - 60px);
 text-align: left;
 box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
 height: 170px;
 margin: 10px;
 border-radius: 5px;
}

/* Text styles */
.text1 {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}

.text2 {
  color:black;
  font-weight: bold;
  font-size: 30px;
}

.text3 {
  color:rgb(68, 67, 67);
  font-size: 14px;
  font-weight: 300px;
  background-color: #ececec70;
  border-radius: 5px;
  padding: 3px;
  font-style: italic;
}

.box{
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.chart{
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
}

/* @media (min-width: 992px) {
  .box {
    width: calc(33.33% - 40px);
  }
  
  .histogram-box {
    width: calc(58% - 40px);
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  
  .pie-chart-box {
  width: calc(35% - 40px);
  position: absolute;
  bottom: 0;
  right: 30px;
  margin: 20px;
  }
  
  .charts-container {
  margin-top: 0;
  }
  } */

