.dashboard-container{
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  table-layout: fixed;
}

/* Histogram box */
.histogram-box {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  padding: 20px;
  width: calc(60%-100px);
  text-align: center;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
  border-radius: 5px;
  height: 65%;
  margin: 20px;
  margin-left: 80px;
}

/* Pie chart box */
.pie-chart-box 
{
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  padding: 20px;
  width: calc(35%-150px);
  text-align: center;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
  border-radius: 5px;
  height: 65%;
  margin: 20px;
  margin-left: 10px;
}


.box-jd {
  /* orange */
  background-color: 	#f7e1d3;
 color: black;
 text-align: left;
 padding: 20px;
 width: calc(33.33% - 60px);
 height: 170px;
 box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
 margin: 10px;
 border-radius: 5px;
}
.box-cv {
 /* orange */
 background-color: 	  #e5f9cd    ;
color: black;
text-align: left;
padding: 20px;
width: calc(33.33% - 60px);
height: 170px;
box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
margin: 10px;
border-radius: 5px;
}
.box-count {
 background-color: 	#dfecf8;
 color: black;
 text-align: center;
 padding: 30px;
 width: calc(33.33% - 60px);
 text-align: left;
 box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
 height: 170px;
 margin: 10px;
 border-radius: 5px;
}

/* Text styles */
.text1 {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}

.text2 {
  color:black;
  font-weight: bold;
  font-size: 30px;
}

.text3 {
  color:rgb(75, 73, 73);
  font-size: 16px;
  font-weight: none;
  background-color: #ececec;
  border-radius: 5px;
  padding: 3px;
  font-style: italic;
}

.positive{
  background-color: green;
  align-items: center;
  font-size: 24px;
  display: inline;
}
.negative{
  background-color: red;
  align-items: center;
  font-size: 32px;
  display: inline;
}


@media (min-width: 992px) {
  .box {
    width: calc(33.33% - 40px);
  }
  
  .histogram-box {
    width: calc(58% - 40px);
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  
  .pie-chart-box {
  width: calc(35% - 40px);
  position: absolute;
  bottom: 0;
  right: 30px;
  margin: 20px;
  }
  
  .charts-container {
  margin-top: 0;
  }
  }

