.main-container{
  margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    table-layout: fixed;
}

.uploadCv_btn{
    display: flex;
    justify-content: flex-end;
}
/* JdDetails.css */

/* Set the background color to white*/

  
  
  
  /* Set the background color of the card header to white */
  .card-header {
    background-color: #fff;
  }
  
  /* Set the background color of the card body to blue */
  .card-body {
    background-color: white;
  }
  