.MuiTableBody-root {
    width: 1000px;
    max-height: 900px; /* set a fixed height */
    overflow-y: auto; /* enable vertical scrolling */
  }
  .MuiToolbar-root {
    display: flex;
    justify-content: space-between;
}


.MuiTable-root {
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 100%;
    text-align: left;
}

.MuiTableHead-root {
    background-color: #f2f2f2;
}


.MuiTableCell-root {
    border: 1px solid #ddd;
    padding: 8px;
}

.MuiTablePagination-displayedRows {
    margin-bottom: 0;
}

.MuiTableCell-head {
    background-color: #d3d3d3 !important;
    color: black !important;
    font-weight: bold;
}


  .table-container {
    height: calc(100vh - 50px); /* Replace 150px with the height of any other fixed elements on your page */
    overflow-y: auto;
  }