.body-modalcv{
    padding-bottom: 0;
}

.file_row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hori-line{
    color: #d3d3d3;
    margin: 5px 0;
}

.file_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.file_row span {
    margin: 0;
    padding: 0;
  }


.view-link{
    text-decoration: underline;
    font-size: 12px
}

.remove_action{
    color: rgb(243, 70, 70) ;
    text-decoration: underline;
    font-size: 12px
}

.remove_action{
    cursor: pointer;
}

.modal-footer{
    padding: 0
}

.done-btn-cv{
    margin-right: 0;
    margin-top: 12px ;
    margin-bottom: 12px ;
}

button.nav-link{
    color: #FA9C1B;
}

button.nav-link:hover{
    color: #2d2d2d;
}

.filename-box {
    margin-bottom: 15px;
}

.file-count{
    font-style: italic;
    font-size: 16px;
}

.cv-dropdown {
    margin-bottom: 15px;
}